.faq {
  margin-bottom: 105px;
}

.faq__title {
  margin-bottom: 45px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 17px 70px;
  margin-bottom: 20px;
}

.list__item:nth-child(even) {
  background-color: #440F51;
  color: #fff;
}

/* .list__item:nth-child(even):after {
  content: "";
  width: 46px;
  height: 46px;
  background-image: url(../faq/img/open.svg);
  position: absolute;
  right: 60px;
  top: 20px;
} */

/* .list__item:nth-child(odd):after {
  background-image: url(../faq/img/open-purple.svg);
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
  right: 60px;
  top: 20px;
} */

.list {
  padding: 0;
}

.faq-link__img {
  width: 46px;
  height: 46px;
}

.faq-link__img:hover {
  background: #EADEED;
  border-radius: 50%;
}

.faq-link__img:focus {
  background: #e5c0ef;
}

.faq-link__img:active {
  background: #b96bce;
}

.faq-link__img_purple:hover {
  background: #9912bb;
}

.faq-link__img_purple:focus {
  background: #b11bd6;
}

.faq-link__img_purple:active {
  background: #d959f9;
}