.faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 45px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 17px 70px;
  margin-bottom: 20px;
}

.list__item:nth-child(even) {
  background-color: #440F51;
  color: #fff;
}

.list {
  padding: 0;
}

.faq-link {
  width: 46px;
  height: 46px;
}

.faq-link__img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.faq-link__img_purple {
  border-radius: 50%;
}

.faq-link__img:hover {
  background: #EADEED;
}

.faq-link__img:focus {
  background: #e5c0ef;
}

.faq-link__img:active {
  background: #b96bce;
}

.faq-link__img_purple:hover {
  background: #9912bb;
}

.faq-link__img_purple:focus {
  background: #b11bd6;
}

.faq-link__img_purple:active {
  background: #d959f9;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .faq {
    margin-bottom: 70px;
  }

  .body .faq__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .list__item:nth-child(even) {
    background-color: var(--main-color);
    color: #1C1A1A;
  }

  .faq-svg {
    stroke: #6C0287;
    stroke-width: 1px;
    stroke-opacity: 1;
  }

  .list__item {
    padding: 12px 20px 12px 25px;
  }

  .faq__text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .faq {
    margin-bottom: 60px;
  }

  .body .faq__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .list__item:nth-child(even) {
    background-color: var(--main-color);
    color: #1C1A1A;
  }

  .faq-svg {
    stroke: #6C0287;
    stroke-width: 1px;
    stroke-opacity: 1;
  }

  .list__item {
    padding: 12px 65px 12px 54px;
  }

  .faq__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .faq {
    margin-bottom: 30px;
  }

  .body .faq__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .list__item:nth-child(even) {
    background-color: var(--main-color);
    color: #1C1A1A;
  }

  .faq-svg {
    stroke: #6C0287;
    stroke-width: 1px;
    stroke-opacity: 1;
  }

  .list__item {
    padding: 7px 13px 9px 10px;
  }

  .faq__text {
    font-size: 12px;
    line-height: 16px;
  }

  .faq-link {
    width: 35px;
    height: 35px;
  }
}