@import url(./var.css);
@import url(./header/header.css);
@import url(./game-over/game-over.css);
@import url(./entertainment/entertainment.css);
@import url(./halls/halls.css);
@import url(./reserved/reserved.css);
@import url(./about-us/about-us.css);
@import url(./reviews/reviews.css);
@import url(./faq/faq.css);
@import url(./contacts/contacts.css);
@import url(./normalize.css);
@import url(./global.style.css);

html {
  scroll-behavior: smooth;
  }

.title-h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.body {
  font-family: Arial, sans-serif;
  /* width: 1440px; */
  background: #1B1A1B;
  color: var(--main-color); 
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

figure {
  margin: 0;
}

.container {
  margin-right: 130px;
  margin-left: 130px;
}

:focus, :active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
   margin-right: 60px;
   margin-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin-right: 40px;
    margin-left: 40px;
   }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
   }
}