.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);  
}

.contacts {
  font-weight: 700;
  font-size: 24px;

}

.contacts__title {
  margin-bottom: 45px;
}

.link-contacts {
  text-decoration: none;
  color: var(--main-color);
}

.map__text {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: var(--main-color);
}

.map__img {
  vertical-align: middle;
  margin-right: 20px;
}

.wrapper-map {
  margin-bottom: 10px;
}

.link-tel__tel-text {
  display: inline-block;
  vertical-align: middle;
}

.link-tel__tel-img {
  vertical-align: middle;
  margin-right: 20px;
}

.wrapper-tel {
  margin-bottom: 10px;
}

.link-mail__mail-text {
  display: inline-block;
  vertical-align: middle;
}

.link-mail__mail-img {
  vertical-align: middle;
  margin-right: 20px;
}

.wrapper-mail {
  margin-bottom: 40px;
}

.network-list {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.network-list__item {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  border-radius: 50%;
}

.network-list__item_indent {
  margin-right: 0;
}

/* .network-list__item:hover {
  background: #a24bb7;
} */

.network-svg:hover {
  fill: #a24bb7;
  /* color: #a24bb7; */
  /* background: #a24bb7; */
}

.network-svg:focus {
  fill: #cf75e6;
}

.network-svg:active {
  fill: #700d89;
}

/* .network-list__item:focus {
  background: #cf75e6;
  border: 1px solid #120116;
} */

/* .network-list__item:active {
  background: #700d89;
} */

.footer-wrapper1 {
  display: flex;
  justify-content: space-between;
}

.footer__img-map {
  max-width: 680px;
  max-height: 274px;
  margin-bottom: 155px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
}

.copyright__text-indent {
  line-height: 22px;
}

.contacts__interactive:hover {
  background: #3a363a;
}

.contacts__interactive:focus {
  background: #595359;
}

.contacts__interactive:active {
  background: #676167;
}

.copyright-link:hover {
  background: #3a363a;
}

.copyright-link:focus {
  background: #595359;
}

.copyright-link:active {
  background: #676167;
}

@media (min-width:1024px) and (max-width: 1339px) {
  .body .contacts__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .map__img {
    width: 26px;
    height: 26px;
    margin-right: 13px;
  }

  .link-tel__tel-img {
    width: 26px;
    height: 26px;
    margin-right: 14px;
  }

  .link-tel {
    margin-bottom: 7px;
  }

  .link-mail__mail-img {
    width: 26px;
    height: 26px;
    margin-right: 13px;
  }

  .network-list__item {
    width: 40px;
    height: 40px;
  }

  .footer__img-map {
    width: 542px;
    height: 274px;
    margin-bottom: 92px;
  }

  .copyright {
    padding-bottom: 19px;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .footer-wrapper1 {
    display: block;
    text-align: center;
  }

  .body .contacts__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .footer-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-map {
    margin-bottom: 0;
  }

  .map__indent {
    position: relative;
  }

  .map__img {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 15px;
  }

  .wrapper-tel {
    margin-bottom: 27px;
  }

  .link-tel__tel-img {
    width: 26px;
    height: 26px;
    margin-right: 14px;
  }

  .link-tel {
    margin-bottom: 7px;
  }

  .wrapper-mail {
    margin-bottom: 27px;
  }

  .link-mail__mail-img {
    width: 26px;
    height: 26px;
    margin-right: 13px;
  }

  .network-list {
    margin-bottom: 30px;
  }

  .network-list__item {
    width: 40px;
    height: 40px;
  }

  .footer__img-map {
    width: 100%;
    height: 100%;
    max-width: none ;
    max-height: none;
    margin-bottom: 75px;
  }

  .copyright {
    padding-bottom: 18px;
  }
}

@media (min-width:320px) and (max-width: 767px) {
  .footer-wrapper1 {
    display: block;
    text-align: center;
  }

  .body .contacts__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .footer-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-map {
    margin-bottom: -17px;
  }

  .map__indent {
    position: relative;
  }

  .map__img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: 0;
  }

  .map__text {
    font-size: 14px;
    line-height: 18px;
  }

  .wrapper-tel {
    margin-bottom: 10px;
  }

  .link-tel__tel-img {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }

  .link-tel__tel-text {
    font-size: 14px;
    line-height: 18px;
  }

  .link-tel {
    margin-bottom: 7px;
  }

  .wrapper-mail {
    margin-bottom: 10px;
  }

  .link-mail__mail-img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
  }

  .link-mail__mail-text {
    font-size: 14px;
    line-height: 18px;
  }

  .network-list {
    margin-bottom: 30px;
  }

  .network-list__item {
    width: 30px;
    height: 30px;
  }

  .footer__img-map {
    width: 100%;
    height: 100%;
    max-width: none ;
    max-height: none;
    margin-bottom: 63px;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
  }

  .copyright__text {
    text-align: center;
  }
}