.entertainment {
  margin-bottom: 100px;
}

.entertainment__title-h2 {
  margin-bottom: 45px;
}

.entertainment-cards {
  display: flex;
  min-height: 570px;
  gap: 20px;
}

.entertainment__block-flex1 {
  align-items: flex-start;
}

.entertainment__block-flex2 {
  align-self: flex-end;
}

.entertainment__block-flex3 {
  align-items: flex-start;
}


.entertainment__title-h3 {
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px; 
  left: 40px;
  bottom: 34px;
}

.entertainment__title-h3_indent {
  bottom: 10px;
}

.vr-glasses {
  position: relative;
  margin-bottom: 38px;
}

.audio-system {
  position: relative;
  margin-bottom: 38px;
}

.karaoke {
  position: relative;
  margin-bottom: 38px;
}

.board-games {
  position: relative;
}

.cinema-services {
  position: relative;
}

.play-station {
  position: relative;
}

.entertainment__img:hover {
  transform: scale(1.1);
}